:root {
    /* color palette (source: https://lospec.com/palette-list/oil-6) */
    --p-0: #fbf5ef;
    --p-1: #f2d3ab;
    --p-2: #c69fa5;
    --p-3: #8b6d9c;
    --p-4: #494d7e;
    --p-5: #272744;
}
