:root {
    /* color palette (source: https://lospec.com/palette-list/pear36) */
    --p-00: #5e315b;
    --p-01: #8c3f5d;
    --p-02: #ba6156;
    --p-03: #f2a65e;
    --p-04: #ffe478;
    --p-05: #cfff70;
    --p-06: #8fde5d;
    --p-07: #3ca370;
    --p-08: #3d6e70;
    --p-09: #323e4f;
    --p-10: #322947;
    --p-11: #473b78;
    --p-12: #4b5bab;
    --p-13: #4da6ff;
    --p-14: #66ffe3;
    --p-15: #ffffeb;
    --p-16: #c2c2d1;
    --p-17: #7e7e8f;
    --p-18: #606070;
    --p-19: #43434f;
    --p-20: #272736;
    --p-21: #3e2347;
    --p-22: #57294b;
    --p-23: #964253;
    --p-24: #e36956;
    --p-25: #ffb570;
    --p-26: #ff9166;
    --p-27: #eb564b;
    --p-28: #b0305c;
    --p-29: #73275c;
    --p-30: #422445;
    --p-31: #5a265e;
    --p-32: #80366b;
    --p-33: #bd4882;
    --p-34: #ff6b97;
    --p-35: #ffb5b5;
}
